include LICENSE.md
include README.rst
recursive-include openquakeplatform_building_class *.py
recursive-include openquakeplatform_building_class/management *
recursive-include openquakeplatform_building_class/static *
recursive-include openquakeplatform_building_class/templates *
recursive-include openquakeplatform_building_class/test *

