div.disclaimer {
    margin-bottom: 16px;
}

button {
    text-transform: capitalize;
    vertical-align: text-bottom;
}

select#country-id option {
    text-transform: capitalize;
}

select#country-id {
    text-transform: capitalize;
}

p.classification_title {
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
}

.gem_capitalize {
    text-transform: capitalize;
}

div.tree {
    padding: 8px;
    border: 1px solid #d0d0d0;
    margin-bottom: 8px;
}

div.tree input.checkbox {
    vertical-align: top;
}

button.classification_del {
    float: right;
}

button.cascade_showhide {
    float: right;
}

p.classification_notes {
    text-transform: capitalize;
    font-weight: bold;
    clear: both;
}

textarea.classification_notes {
    width: 96%;
    height: 4em;
}

table.build_classes {
    margin: 0px;
    width: 100%;
}

table.build_classes th {
    font-size: 70%;
    border: 1px solid #d0d0d0;
    padding: 0 8px 0 8px;
    text-transform: capitalize;
}

table.build_classes td {
    font-size: 70%;
    border: 1px solid #d0d0d0;
    padding: 0 4px 0 4px;
}
table.build_classes td.path {
    width: 66%;
    padding: 8px;
    line-height: 120%;
}

table.build_classes td select {
/*     font-size: 90%; */
    width: 100%;
    text-transform: capitalize;
}

table.build_classes td select option {
    text-transform: capitalize;
}

div#forest {
    font-size: 80%;
}

p.sub-title {
    line-height: 100%;
    font-weight: bold;
    margin: 0 0 8px 0;
}

div#forest li div {
    background-color: #fff3f3;
    border: 1px solid #ffe6e6;
    padding: 8px;
}

div#forest li div li div {
    background-color: #fff9f3;
    border: 1px solid #fff2e6;
}

div#forest li div li div li div {
    background-color: #fffff3;
    border: 1px solid #ffffe6;
}

div#forest li div li div li div li div {
    background-color: #f3fff3;
    border: 1px solid #e6ffe6;
}

div#forest li div li div li div li div li div {
    background-color: #f3ffff;
    border: 1px solid #e6ffff;
}

div#forest li div li div li div li div li div li div {
    background-color: #f3f3ff;
    border: 1px solid #e6e6ff;
}

div#forest li div li div li div li div li div li div li div {
    background-color: #fff3ff;
    border: 1px solid #ffe6ff;
}
/* roundtrip */

div#forest li div li div li div li div li div li div li div li div {
    background-color: #fff3f3;
    border: 1px solid #ffe6e6;
}

div#forest li div li div li div li div li div li div li div li div li div {
    background-color: #fff9f3;
    border: 1px solid #fff2e6;
}

div#forest li div li div li div li div li div li div li div li div li div li div {
    background-color: #fffff3;
    border: 1px solid #ffffe6;
}

div#forest li div li div li div li div li div li div li div li div li div li div li div {
    background-color: #f3fff3;
    border: 1px solid #e6ffe6;
}

div.save_resp_ok {
    background-color: #ddffdd;
}

div.save_resp_err {
    background-color: #ffdddd;
}
